<main>
	<velt-comments comment-pin-highlighter="false"></velt-comments>
	<!-- dark-mode="false" - to disable dark mode -->
	<!-- sync="true" - to enable sync mode -->
	<!-- <velt-video-player src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4" dark-mode="true"
		sync="true">
	</velt-video-player> -->

	<div class="player-container">
		<div class="player">
			<video id="vid" #vid (click)="togglePlayPause()" (timeupdate)="updateCustomTimeline(); setLocation()">
				<source src="assets/demo-video (compressed).mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>

			<div class="toolbar">
				<button (click)="togglePlayPause()">

					<svg *ngIf="isPlaying" width="20" height="20" viewBox="0 0 20 20" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<rect x="5.5" y="4" width="2.99958" height="12" rx="1.49979" fill="#0A0A0A" />
						<rect x="11.5" y="4" width="2.99958" height="12" rx="1.49979" fill="#0A0A0A" />
					</svg>

					<svg *ngIf="!isPlaying" width="20" height="20" viewBox="0 0 20 20" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M6 4.66685V15.3335C5.99997 15.4521 6.03158 15.5686 6.09159 15.6709C6.15159 15.7733 6.23781 15.8577 6.34135 15.9156C6.44489 15.9735 6.562 16.0027 6.68059 16.0002C6.79918 15.9978 6.91497 15.9637 7.016 15.9015L15.6827 10.5682C15.7797 10.5085 15.8599 10.425 15.9155 10.3256C15.9711 10.2261 16.0003 10.1141 16.0003 10.0002C16.0003 9.88626 15.9711 9.77423 15.9155 9.6748C15.8599 9.57536 15.7797 9.49183 15.6827 9.43219L7.016 4.09885C6.91497 4.0367 6.79918 4.00262 6.68059 4.00015C6.562 3.99767 6.44489 4.02688 6.34135 4.08476C6.23781 4.14265 6.15159 4.22711 6.09159 4.32943C6.03158 4.43175 5.99997 4.54823 6 4.66685Z"
							fill="black" />
					</svg>


				</button>
				<div class="player-timeline">
					<velt-comment-player-timeline video-player-id="vid" total-media-length="31.3" style="width: 0%;"
						#commentPlayerTimeline></velt-comment-player-timeline>

					<div (click)="customSeek($event)">
						<div class="time-passed" #timePassedDiv></div>
					</div>
				</div>
				<velt-reaction-tool video-player-id="vid"></velt-reaction-tool>
				<velt-comment-tool></velt-comment-tool>
			</div>
		</div>
	</div>

</main>